.table {
    &--dashboard {
        @apply min-w-full divide-y divide-gray-200;

        thead {
            @apply bg-gray-50;

            tr {
                th,
                td {
                    @apply px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider;

                    a {
                        align-items: center;
                        display: flex;

                    }
                }
            }
        }

        tbody {
            @apply bg-white divide-y divide-gray-200;

            tr {
                cursor: pointer;

                th,
                td {
                    @apply px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider;
                }

                &:hover {
                    th,
                    td {
                        @apply bg-orange-50;
                    }
                }
            }
        }

        .cell {
            &--id {
                text-align: center;
            }

            &--thumbnail {
                width: 150px;

                img {

                }
            }
        }
    }
}
